* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #111111;
  font-weight: 400;


}


h1 {
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0.75em;
  font-weight: 700;

}

h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.35em;
  font-weight: 600;

}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 30px 0;
  padding: 10px 0;
  border-bottom: 2px solid #111111;

}

h1 span {
  border-bottom: 7px solid #36FFCF;
  margin-top: -10px;

}

p {
  font-size: 1.1em;
  margin: 1em 0;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto; 
  max-width: 80%;
  padding-right: 10px;
  padding-left:  10px; 
}

.main {
  display: grid;
    grid-template-columns: minmax(0,1fr) 300px;
    grid-gap: 2rem;
    margin: 0 auto;
    padding: 2rem 0;
    height: 100%;
}

@media (max-width: 1200px){
  .main {
      display: block;
  }
}


.section {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 599px){
  .section { 
      display: block;
  }
}

.subsection {
  margin-right: 30px;
  align-items: flex-end;
}

.subheading {
  font-weight: 600;

}

aside {
  background-color: #36FFCF;
  padding: 20px;
  position: sticky;
  top: 0;
  max-height: 50%;

}

button {
  border: 3px solid #4D4D4D;
  font-weight: 600;
  font-size: 1em;
  background-color: #36FFCF;
  width: 35px;
  height: 36px;
  cursor: pointer;

}

button:hover{
  opacity: 0.8;
}

@media (max-width: 599px){
  button { 
      margin: 20px 0;
  }
}

input {
  border: 3px solid #4D4D4D;
  height: 25px;
  width: auto;
  padding: 15px 10px;
  font-size: 1em;
}